<h4>Formulário para Cadastro de Clientes</h4>
<div class="row mt-4">
    <div class="col-md-4">
        <form #formCadastro="ngForm" (submit)="cadastrarCliente(formCadastro)">
            <div class="mb-3">
              <label for="nomeCliente" class="form-label">Nome do Cliente:</label>
              <input type="text" class="form-control" id="nomeCliente" placeholder="Digite aqui" name="nome" ngModel>
            </div>
            <div class="mb-3">
              <label for="emailCliente" class="form-label">E-mail:</label>
              <input type="email" class="form-control" id="emailCliente" placeholder="Digite aqui" name="email" ngModel>
            </div>
            <div class="mb-3">
                <label for="cpfCliente" class="form-label">CPF:</label>
                <input type="text" class="form-control" id="cpfCliente" placeholder="Digite aqui" name="cpf" ngModel>
              </div>
            <button type="submit" class="btn btn-success">Cadastrar Cliente</button>
          </form>
    </div>
</div>
<div class="mt-3">
    {{mensagem}}
</div>
