<h4>Cadastro de Clientes</h4>
<br />
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group"> <label>Nome do Cliente:</label> <input type="text" class="form-control"
                    placeholder="Digite aqui" /> </div>
            <div class="form-group"> <label>Email do Cliente:</label> <input type="text" class="form-control"
                    placeholder="Digite aqui" /> </div>
            <div class="form-group"> <label>CPF:</label> <input type="text" class="form-control"
                    placeholder="Digite aqui" /> </div>
            <div class="form-group"> <input type="submit" value="Cadastrar Cliente" class="btn btn-success" /> </div>
        </form>
    </div>
</div>