<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <a class="navbar-brand" href="#">Sistema de Controle de
    Clientes</a> <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"> <a class="nav-link" href="/">Página inicial <span
            class="sr-only">(current)</span></a> </li>
      <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Manter Clientes </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a href="" class="dropdown-item">Cadastrar
            Clientes</a> <a href="" class="dropdown-item">Consultar Clientes</a> </div>
      </li>
    </ul>
  </div>
</nav> <br />
<div class="container">
  <h2>Seja bem vindo ao projeto</h2> Sistema desenvolvido em Angular consumindo WebApi em .NET CORE
  <hr />
</div>